.container {
    display: flex;
    flex-direction: row;
}

.log-entry p span {
    display: flex;
}

.change-table {
    max-width: 600px; /* Максимальная ширина таблицы */
    border-collapse: collapse;
    width: 100%; /* Добавлено для поддержки IE */
}

/* Стилизация заголовков */
.change-table th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Стилизация ячеек */
.change-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Стилизация строк с изменениями */
.change-table .change-row {
    background-color: #e6f7ff; /* Цвет фона для выделения изменений */
}


